{% extends 'base.html.twig' %}
{% block content %}
<div class="row header center" style="border-bottom:2px solid #004A67">
	<h3 style="color: #004A67">
		Menú principal
	</h3>
</div>
<div class="container">
	<div class="container">
		<div class="row end">
			<p class="username">{{ usuario.getAlias() }}</p>
		</div>
	</div>
	<div class="container">
		<div class="row action">
			<div class="col-10 action-description">
				<h4>Consultar Notas</h4>
				<p class="action-text">Consulta tus notas definitivas por periodo.</p>
			</div>
			<a class="col-2 middle center more" href="/notas">
				<span>
					>			
				</span>
			</a>
		</div>
		<div class="row action">
			<div class="col-10 action-description">
				<h4>Mensajes</h4>
				<p class="action-text">Revisa mensajes enviados por tus docentes.</p>
			</div>
			<a class="col-2 middle center more" href="{{ path('menu') }}">
				<span>
					>			
				</span>
			</a>
		</div>

	</div>
</div>
{% endblock %}